body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.hero {
    background-image: url('Sesame.jpg');
    background-position: center;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

.products {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.product {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    width: 30%;
    cursor: pointer;
}

.product img {
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 18px;
    margin: 10px 0;
}

.details {
    color: red;
    text-decoration: none;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-content img {
    width: 40%;
    border-radius: 10px;
}

.popup-content .close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.popup-content .close:hover,
.popup-content .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.popup-content #popup-text {
    width: 55%;
}

.submit-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

.submit-button:hover {
    background-color: darkred;
}
